<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>
  
<body id="signIn">

  <!-- <a href="/signUp"><button class="submit relocate">Sign Up</button></a> -->

    <section class="change-password-wrap form-wrap">
      <h2>Change Password</h2>

      <form>
        <div class="password-wrap">
            <input type="password" class="new-password" placeholder="Password" class="password-input" name="password"/>
            <button type="button" class="see-password-btn">👀</button>
          </div>

        <div class="password-wrap">
          <input type="password" class="new-password" placeholder="Password" class="password-input" name="password"/>
          <button type="button" class="see-password-btn">👀</button>
        </div>

        <button class="signin-btn center submit">Submit</button>
      </form>
    </section>


    <script src="Javascript/changePasswordJS.js"></script>
  </body>
</html>