<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>
  
<body id="signIn">
    <section class="signin-wrap form-wrap">
      <h1>Sign In</h1>

      <form action="">
        <input type="email" class="username" placeholder="Username" />

        <div class="password-wrap">
          <input type="password" class="password-input" placeholder="Password" class="password-input" />
          <button type="button" class="see-password-btn">👀</button>
        </div>

        <button type="button" class="signin-btn center submit">Submit</button>
      </form>
    </section>


    <script src="main.js"></script>
  </body>
</html>
