<!DOCTYPE html>

<%- include('./partials/head.ejs') %>

<body>
  <section class="form-wrap">
    <h1>Sign Up</h1>

    <form class="signup-form form" action="">
      <input type="text" class="first-name" placeholder="First Name" />

      <input type="text" class="last-name" placeholder="Last Name" />

      <input type="email" class="email" placeholder="Email" />

      <div class="password-wrap new-password">
        <input type="password" class="password-input" placeholder="Password" />
        <button type="button" class="see-password-btn">👀</button>
      </div>

      <button type="button" class="signup-btn center submit">Submit</button>
    </form>
  </section>
</body>
