<!DOCTYPE html>

<%- include('./partials/head.ejs') %>

<body>
  <section class="user-info">
    <img class="user-img" src="/assets/user-img.png" alt="user image" />

    <span class="user-info-label">
      Name: <span class="user-info-text"> </span>
    </span>
    <span class="user-info-label">
      Username: <span class="user-info-text"> buhbuhbacon982487352</span>
    </span>
  </section>

  <script src="main.js"></script>
</body>
