* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    background-color: #f3f1ff;
    font-family: 'Roboto Condensed';
}

input {
    width: 300px;
    padding: 8px 8px;
    font-size: 1.1rem;
    border: 2px solid #4b1b82;
    border-radius: 5px;
    background-color: transparent;
}

h1 {
    font-size: 2.5rem;
    margin-left: 27%;
    color: #340863;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

button {
    cursor: pointer;
}

.hide  {
    display: none !important;
}

.form-wrap {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    /* gap: 7px; */
}

.password-wrap {
    display: flex;
    /* margin-top: 5px; */
}

.see-password-btn {
    padding: 7px 7px;
    font-size: 1.3rem;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
}

.see-password-btn.active {
    opacity: .6
}

.submit {
    width: 100px;
    font-size: 1.4rem;
    padding: 7px;
    margin-left: 28%;
    margin-top: 10px;
    background-color: #340863;
    border: none;
    color:#f3f1ff;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    transition: all ease-in-out 150ms
}

.signin-btn.left {
    transform: translate(-100px)
}

.signin-btn.toCenter {
    transform: translate(0px)
}

.signin-btn.right {
    transform: translate(100px)
}

.relocate-style {
    background-color: #f3f1ff;
    color: #340863;
    border: 2px solid #340863;
    font-size: 1.2rem;
    padding: 5px;
}

.relocate {
    position: absolute;
    right: 20px;
    top: 0px;
}

.relocate-style:hover {
    background-color:#340863;
    color:#f3f1ff;
    transition: all ease-out 100ms;
}

.error-banner {
    width: 300px;
    padding: 3px 0;
    font-size: 1.1rem;
    background-color: red;
    color:white;
    text-align: center;
    margin-bottom: 10px;
}

.user-info {
    width: 70%;
    max-width: 500px;
    padding: 20px 30px;
    padding-top: 40px;
    background-color: white;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 7px;
    position: relative;
}

.user-img {
    max-width: 200px;
    align-self: center;
    position: absolute;
    top: -163px;
}

.change-password {
    border:none;
    width: 100%;
}

.main-info {
    /* transition: all ease-out 2s; */
}

.enter-password-popup {
    /* align-items: center; */
    padding-top: 0;
    padding: 40px 50px;
    /* transition: all ease-in 2s; */

}

.enter-password-popup h3 {
    font-size: 1.3rem;
}

.enter-password-popup input {
    width: 100%;
}
.enter-password-popup button {
    border-radius: 5px;
    font-size: 1.3rem;
}

/* @media (max-width: ) */

