* {
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    background-color: #f3f1ff;
}

input {
    width: 300px;
    padding: 8px 8px;
    font-size: 1.1rem;
    border: 2px solid #4b1b82;
    border-radius: 5px;
    background-color: transparent;
}

h1 {
    font-size: 2.5rem;
    margin-left: 27%;
    color: #340863;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-wrap {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    /* gap: 7px; */
}

.password-wrap {
    display: flex;
    /* margin-top: 5px; */
}

.see-password-btn {
    padding: 7px 7px;
    font-size: 1.3rem;
    border: none;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
}

.see-password-btn.active {
    opacity: .6
}

.submit{
    width: 100px;
    font-size: 1.4rem;
    padding: 7px;
    margin-left: 28%;
    margin-top: 10px;
    background-color: #340863;
    border: none;
    color:#f3f1ff;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    transition: all ease-in-out 150ms
}

.signin-btn.left {
    transform: translate(-100px)
}

.signin-btn.toCenter {
    transform: translate(0px)
}

.signin-btn.right {
    transform: translate(100px)
}


